<md-toolbar class="md-hue-2" md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings"  ng-click="vm.toggleSideNav()" >
      <md-icon md-svg-src="/assets/icons/ic_menu_36px.svg"></md-icon>
    </md-button>
    <h2>
      <span>Change Password</span>
    </h2>

  </div>
</md-toolbar>

<md-content layout-padding layout="column">
  <div flex>
    <md-subheader class="md-primary">Change avatar</md-subheader>
    <form name="myForm">
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
      <input type="file" ngf-select ng-model="picFile" name="file" class="md-raised md-primary"
             accept="image/*" accept="image/*" ngf-max-size="2MB"
             ngf-validate="{width: {min: 100, max:2000}, height: {min: 100, max: 2000}}"
             ngf-resize="{width: 512, height: 512, centerCrop: true}" required
             ngf-resize-if="$width > 512 || $height > 512"
             ngf-model-invalid="errorFile">
      <div ng-messages="myForm.file.$error">
        <div ng-message="minWidth">
          Min Width has to be 1200px.
        </div>
        <div ng-message="minHeight">
          Min Height has to be 100px.
        </div>
        <div ng-message="maxWidth">
          Max Width has to be 1200px.
        </div>
        <div ng-message="maxHeight">
          Max Height has to be 1200px.
        </div>
        <div ng-message="maxSize">
          File is bigger than 2MB.
        </div>
        <div ng-message="required">
          required
        </div>
      </div>

      <md-button ng-click="picFile = null" ng-show="picFile">Remove</md-button>
      <md-button ng-disabled="!myForm.$valid"
                 ng-click="vm.changePhoto(picFile)">Submit
      </md-button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
             ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

    </form>
    </div>
    <div flex>
      <md-subheader class="md-primary">Change password</md-subheader>
      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate layout="column">

        <md-input-container class="md-block">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.other }}
          </p>
        </md-input-container>

        <md-input-container class="md-block">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            Password must be at least 3 characters.
          </p>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Confirm New Password</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.newPassword"
                 ng-minlength="3"
                 required=""/>
          <div class="help-block"
               ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </div>

        </md-input-container>

        <p class="help-block"> {{ vm.message }} </p>

        <md-button class="md-primary" type="submit">Save changes</md-button>
      </form>
    </div>
</md-content>
