<div ng-controller="NavDrawerController" ng-cloak>
  <md-toolbar>
    <div id="profile" layout="column" layout-margin ng-show="drawer.isLoggedIn()" >
      <img name="profile-img" class="user-avatar" ng-src="{{drawer.getCurrentUser().img}}"/>
      <h4 name="profile-name" class="navbar-text">Name {{ drawer.getCurrentUser().name }}</h4>
      <h5 name="profile-email" class="navbar-text">email: {{ drawer.getCurrentUser().email}}</h5>

    </div>
  </md-toolbar>
  <md-list class="nav-list">
  <md-list-item  md-ink-ripple ng-repeat="item in drawer.authMenu" ng-show="item.visible()" ng-class="{active: drawer.isActive(item.path)}">
      <a ng-href="{{item.path}}" ng-click="drawer.closeDrawer()">
        <md-icon md-svg-icon="{{item.icon}}" ></md-icon>
    	<p>{{item.title}}</p>
      </a>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Menu</md-subheader>
    <!--<md-list >-->
    <md-list-item  md-ink-ripple ng-repeat="item in drawer.menu" ng-class="{active: drawer.isActive(item.path)}">
      <a ng-href="{{item.path}}" ng-click="drawer.closeDrawer()">
        <md-icon md-svg-icon="{{item.icon}}" ></md-icon>
    	<p>{{item.title}}</p>
      </a>
    </md-list-item>
  </md-list>
</div>
