conference{
  background: red;
  margin: 0;
  box-sizing: border-box;
}
conference .grid{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  border:1px;

}
conference .grid .video-wrapper{
  flex:1 1 auto;
  width: 40%;
  background: #00FFFF;

}
conference .grid .video-wrapper video{
  width: 100%;
  height: auto;
}
conference .grid .video-wrapper div{
  background: #E0FFE0;
  border: 1px solid #FFFFFF;
  background: #7788FF;
}
.video-wrapper:after {
  content: ' ';
  clear: both;
  display: block;
}
.video-wrapper.me{
  position: fixed;
  bottom: 0;
  /*background: green;*/
  padding: 10px;
}
.video-wrapper.me video{
  max-width: 40%;
  height: auto;
}