<md-toolbar class="md-hue-2" md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings"  ng-click="vm.toggleSideNav()" >
      <md-icon md-svg-src="/assets/icons/ic_menu_36px.svg"></md-icon>
    </md-button>
    <h2>
      <span>{{vm.title}}</span>
    </h2>

  </div>
</md-toolbar>

<md-content layout-padding layout="column">
  <div layout-margin>
    <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></p>
    <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
  </div >
  <form  name="form" ng-submit="vm.login(form)" novalidate class="md-inline-form">

    <md-input-container class="md-block">
      <label>Email</label>

      <input type="email" name="email" class="form-control" ng-model="vm.user.email" value="test@example.com" required>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Password</label>

      <input type="password" name="password" class="form-control" ng-model="vm.user.password" value="test" required>
    </md-input-container>

    <div class="form-group has-error">
      <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
       Please enter your email and password.
     </p>
     <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
       Please enter a valid email.
     </p>

     <p class="help-block">{{ vm.errors.other }}</p>
   </div>

   <section layout="row" layout-sm="column" layout-wrap >
    <md-button class=" md-primary" type="submit">
      Login
    </md-button>
    <md-button class="md-primary" href="/signup">
      Register
    </md-button>
  </section>

  <section layout="row" layout-sm="column" layout-wrap>
    <oauth-buttons classes="btn-block"></oauth-buttons>
  </section>
</form>
</md-content>

