

<md-dialog flex="50" aria-label="Create room">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create room</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="ctrl.cancel()">
					<md-icon md-svg-src="assets/icons/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content class="md-padding autocomplete">
			<div layout="column" class="contactChips">
				<form name="projectForm">
					<md-input-container flex="50">
						<label>Client Name</label>
						<input required name="clientName" ng-model="ctrl.name">
						<div ng-messages="projectForm.clientName.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>
					<md-contact-chips flex
					ng-model="ctrl.asyncContacts"
					md-contacts="ctrl.delayedQuerySearch($query)"
					md-contact-name="name"
					md-contact-image="img"
					md-contact-email="email"
					md-require-match="true"
					md-highlight-flags="i"
					filter-selected="ctrl.filterSelected"
					placeholder="To"> 
				</md-contact-chips>
			</form>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button type="submit" ng-click="ctrl.create($event)">
			{{ctrl.acceptName}}
		</md-button>
		<md-button ng-click="ctrl.cancel($event)">
			Cancle
		</md-button>
	</md-dialog-actions>
</form>
</md-dialog>

