contacts{
}
.contacts-grid-item{
	/*background-color: red;*/
	/*widows: 300psx;*/
	background-color: #2daddc;
	border: 1px solid #FFFFFF
}

.contacts-grid-item img{
	width: 30%;
	height: auto;
	border-radius: 50%;
	/*height: auto;*/
}
.contacts-grid-item h3{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.010em;
	margin: 0 0 0px 0;
	line-height: 1.2em;
	overflow: hidden;
	white-space: nowrap;
	color: #FFFFFF;
	text-overflow: ellipsis;
}
.contacts-grid-item h4{
	font-size: 14px;
	letter-spacing: 0.010em;
	margin: 3px 0 1px 0;
	font-weight: 400;
	line-height: 1.2em;
	overflow: hidden;
	white-space: nowrap;
	color: #FFFFFF;
	text-overflow: ellipsis;
}
.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
/*md-tabs.noTabPanel md-tabs-wrapper {
    display: none !important;
    }*/
    .tab-invites-count{
    	background: red;
    	color: white;
    	border-radius: 40%;
    	margin-left:8px;
    	padding: 2px 6px 2px 6px;
    	font-weight: bold;
    }
    .card-grid{
    	display:flex;
    	flex-direction:row;
    	flex-wrap: wrap;

    }
    .card-grid .card{
    	flex:1 1 auto;
    	width: 30%;
    }
    @media (max-width: 768px){
    	.card-grid .card{
    		width: 100%;
    	}
    }
    @media (min-width: 769px) and (max-width: 1280px){
    	.card-grid .card{
    		width: 45%;
    	}
    }

    .autocomplete-custom-template li {
      border-bottom: 1px solid #ccc;
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
      white-space: normal; 
  }
  .autocomplete-custom-template li:last-child {
      border-bottom-width: 0; 
  }
  .autocomplete-custom-template .item-title,
  .autocomplete-custom-template .item-metadata {
      display: block;
      line-height: 2; 
  }
  .autocomplete-custom-template .item-title img {
      height: 18px;
      width: 18px; 
  }
  .profile{

  }
  .profile img{
/*  float: left;
  border-radius: 50%;
  max-width: 40%;
  height:auto;*/
  width:100%;
  height:auto;
}