

<md-dialog aria-label="Find User Dialog" ng-cloak flex="60">
<form ng-submit="$event.preventDefault()" name="projectForm">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Find User</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="dialogCtrl.cancel()">
        <md-icon md-svg-src="assets/icons/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>

    <div layout="column" ng-cloak>
      <md-content class="md-padding">
        
          <md-autocomplete
          ng-disabled="dialogCtrl.isDisabled"
          md-no-cache="dialogCtrl.noCache"
          md-selected-item="dialogCtrl.selectedItem"
          md-search-text="dialogCtrl.searchText"
          md-items="item in dialogCtrl.querySearch(dialogCtrl.searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Search User"
          md-menu-class="autocomplete-custom-template">

          <md-item-template>
            <!-- <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span> -->

            <md-list-item class="md-3-line">
              <img ng-src="{{item.img}}" alt="{{item.name}}" class="md-avatar">
              <div class="md-list-item-text">
                <h3>{{item.name}}</h3>
                <h4>{{item.email}}</h4>
                <p>
                  {{'098000000'}}
                </p>
              </div>
            </md-list-item>
           <!--  <span class="item-title">
              <img ng-src="{{item.img}}" class="md-avatar" alt="{{item.name }}" />      
              <span> {{item.name}} </span>
            </span>
            <span class="item-metastat">
              <strong>{{item.email}}</strong> watchers
            </span> -->
          </md-item-template>
          <md-not-found>
            No Person matching "{{searchText}}" were found.
          </md-not-found>
        </md-autocomplete>
    <!-- <br/>
    <md-checkbox ng-model="dialogCtrl.simulateQuery">Simulate query for results?</md-checkbox>
    <md-checkbox ng-model="dialogCtrl.noCache">Disable caching of queries?</md-checkbox>
    <md-checkbox ng-model="dialogCtrl.isDisabled">Disable the input?</md-checkbox>
  -->
<div class="profile" ng-show="dialogCtrl.selectedItem" layout="row" layout-xs="column">
  <div flex="50"><img ng-src="{{dialogCtrl.selectedItem.img}}" ></div>

  <div flex layout-margin>
    <div>
     <h2>Name: {{dialogCtrl.selectedItem.name}}</h2>
     <p>email: {{dialogCtrl.selectedItem.email}}</p>
     <p>phone: 09800000</p>
   </div>
   <md-divider ></md-divider>
   <br/>
   <div flex="grow"></div>
     <md-input-container class="md-block" >
      <label>Write message</label>
      <textarea ng-model="invite.message" md-maxlength="100" required rows="3" md-select-on-focus name="description" ></textarea>
      <div ng-messages="projectForm.description.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
      </div>
    </md-input-container>

</div>

</div>
</md-content>
</div>



</md-dialog-content>
<md-dialog-actions>
<md-button ng-show="dialogCtrl.selectedItem" ng-disabled="dialogCtrl.isChecked(projectForm.description.$error)" ng-click="dialogCtrl.sendInvite(dialogCtrl.selectedItem._id,invite.message)">Send invite</md-button>
  <md-button aria-label="Finished" ng-click="dialogCtrl.finish($event)">Finished</md-button>
</md-dialog-actions>
</form>
</md-dialog>
