<md-toolbar class="md-hue-2" md-scroll-shrink>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.toggleSideNav()">
			<md-icon md-svg-src="/assets/icons/ic_menu_36px.svg"></md-icon>
		</md-button>
		<h2>
			<span>Toolbar with Disabled/Enabled Icon Buttons</span>
		</h2>
	</div>
</md-toolbar>
<!-- <md-content> -->
<md-content flex class="content-list">
	<div class="wrapper">
		<div id="inner" class="inner">
			<div id="content" class="content">
				<div ng-repeat="message in $ctrl.messeges" class="message-wrapper"  ng-class="message.creator ? 'me' : 'them'">
					<div class="circle-wrapper animated bounceIn"></div>
					<div class="text-wrapper animated fadeIn">{{message.text}}</div>
				</div>
			</div>
		</div>
	</div>
</md-content>


<div class="chat-toolbar" layout="row">
	<textarea class="input" flex></textarea>
	<md-button  class="md-fab"  aria-label="Create person">
		<md-icon md-svg-src="assets/icons/ic_send_24px.svg"></md-icon>
	</md-button>
</div>
